<!DOCTYPE html>
<html ng-app="toDo">
<head lang="en">
    <meta charset="UTF-8">
    <title>TODO APP</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" />
    <link rel="stylesheet"  href="stylesheet.min.css" />

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <!--<script src="check.min.js"></script>-->
    <!--<script src="reviews.min.js"></script>-->
    <script src="app.min.js"></script>

</head>

<!--List Controller an listCtrl starts here-->
<body ng-controller="ListController as listCtrl">

<div>
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="main">
                <md-content class="md-padding">
                    <h1 class="md-display-2">TO<span class="title">DO</span> LIST</h1>


                    <div>

                        <!--the loading circle-->
                        <div  ng-hide="listCtrl.list[0]" layout="column" layout-margin style="padding:25px;">
                            <p class="loading">Loading please wait!</p>
                            <div layout="row" layout-sm="column" layout-align="space-around">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </div>
                        </div>

                        <!--list item that repeates-->
                        <ul>
                            <li ng-repeat="item in listCtrl.list">

                                <div class="item" ng-dblclick="listCtrl.editing(item)">
                                    <md-checkbox  ng-model="item.isCompleted" ng-hide="item.isHide" ng-change="listCtrl.list.$save(item)" class="md-primary">
                                        {{item.text}}
                                    </md-checkbox>
                                    <p ng-show="item.isEditing">
                                        <input type="text" ng-model="item.text" ng-enter="listCtrl.edited(item)" maxlength="80" />
                                    </p>
                                </div>
                            </li>
                            <li style="list-style: none"><p>{{listCtrl.listItem}}</p></li>
                        </ul><br /><br /><br />

                        <!--the material design angular input.-->
                        <md-input-container flex>
                            <label>Add Item</label>
                            <input ng-model="listCtrl.listItem" placeholder="Input an Item here." maxlength="80" onkeydown="if (event.keyCode == 13) document.getElementById('btnAdd').click()" autofocus />
                        </md-input-container>

                        <!--the buttons-->
                        <div class="buttons">
                            <md-button id="btnAdd" class="md-raised" ng-click="listCtrl.add()">Add</md-button>
                            <md-button class="md-raised md-warn" ng-click="listCtrl.clear()">Clear</md-button>
                            <!--<md-button class="md-warn md-raised md-hue-2" ng-click="listCtrl.clearList()">Clear List</md-button>-->
                            <md-button class="md-raised md-primary"  ng-click="listCtrl.undo()">Undo</md-button>
                            {{this.check()}}
                        </div>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="review">
                <md-content class="md-padding">

                    <h1 class="md-display-2" ><span class="title">RE</span>VIEWS</h1>

                    <!--Review Controller as reviewCtrl starts here-->
                    <div  ng-controller="reviewController as reviewCtrl">

                        <!--the loading circle-->
                        <div  ng-hide="reviewCtrl.reviews[0]" layout="column" layout-margin style="padding:25px;">
                            <p class="loading">Loading please wait!</p>
                            <div layout="row" layout-sm="column" layout-align="space-around">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </div>
                        </div>

                        <!--repeating an array-->
                        <div>
                            <div ng-repeat="item in reviewCtrl.reviews">
                                <ul>
                                    <li>User: <b>{{item.who}}</b>.</li>
                                    <li>Stars: {{item.stars}}.</li>
                                    <li>Suggestion: {{item.suggestion }}</li>
                                </ul>
                                <hr />
                            </div>
                        </div>

                        <!--slection-->
                        <div>
                            <br />
                            <select ng-model="reviewCtrl.message.stars">
                                <option value="1">1 Star</option>
                                <option value="2">2 Stars</option>
                                <option value="3">3 Stars</option>
                                <option value="4">4 Stars</option>
                                <option value="5">5 Stars</option>
                            </select>

                            <!--input feilds-->
                            <md-input-container flex>
                                <label>User Name</label>
                                <input ng-model="reviewCtrl.message.who" placeholder="User Name" maxlength="15"/>
                              </md-input-container>
                            <md-input-container flex>
                                <label>Suggestion</label>
                                <input ng-model="reviewCtrl.message.suggestion" placeholder="Suggestion" maxlength="15" onkeydown="if (event.keyCode == 13) document.getElementById('userName').click()" />
                            </md-input-container>
                        </div>

                        <!--button-->
                        <div class="buttons">
                            <md-button id="userName" class="md-raised md-primary" ng-click="reviewCtrl.post()">Submit</md-button>
                        </div>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="about">
                <md-content class="md-padding">
                    <p><img src="images/asim.jpg" title="Asim Raza Khan" style="border-radius: 100%"/></p>
                    <h1 class="md-display-2 name">A<span class="title">sim</span>.R.K</h1>
                    <p>Student of Saylani Mass Training 2nd Batch.</p>
                    <p class="links">
                        <a href="https://github.com/Asim-rk" target="_blank">
                            <img style="border-radius: 15px;vertical-align: middle;width: 50px;padding: 10px;" class="social" src="images/git.gif" title="GitHub" />
                        </a>
                        <a href="https://www.facebook.com/asim.r.k" target="_blank">
                            <img style="border-radius: 15px;vertical-align: middle;width: 50px;padding: 10px;" class="social" src="images/fb.gif" title="facebook" />
                        </a>
                        <a href="https://pk.linkedin.com/pub/asim-raza-khan/91/299/362" target="_blank">
                            <img style="border-radius: 15px;vertical-align: middle;width: 50px;padding: 10px;" class="social" src="images/li.gif" title="Linkdin" />
                        </a>
                    </p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>

</body>
</html>
