<!DOCTYPE html>
<html ng-app="toDo">
<head lang="en">
    <meta charset="UTF-8">
    <title>TODO APP</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" />
    <link rel="stylesheet"  href="stylesheet.min.css" />

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <!--<script src="check.min.js"></script>-->
    <script src="app.min.js"></script>

</head>
<body>

<h1>TO<span class="title">DO</span> LIST</h1>

<!--List Controller ans listCtrl starts here-->
<div ng-controller="ListController as listCtrl">

    <!--the loading circle-->
    <div  ng-hide="listCtrl.list[0]" layout="column" layout-margin style="padding:25px;">
        <p class="loading">Loading please wait!</p>
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

    <!--list item that repeates-->
    <ol>
        <li ng-repeat="item in listCtrl.list" style="list-style: none">
            <div class="item">
            <md-checkbox  ng-model="item.isCompleted" ng-hide="item.isHide" ng-change="listCtrl.list.$save(item)" class="md-primary">
            {{item.text}}
            </div>
        </li>
        <li style="list-style: none"><p>{{listCtrl.listItem}}</p></li>
    </ol><br /><br /><br />

    <!--the material design angular input.-->
    <md-input-container flex>
        <label>Add Item</label>
        <input ng-model="listCtrl.listItem" placeholder="Input an Item here." maxlength="80" onkeydown="if (event.keyCode == 13) document.getElementById('btnAdd').click()" autofocus>
    </md-input-container>

    <!--the buttons-->
    <md-button id="btnAdd" class="md-raised" ng-click="listCtrl.add()">Add</md-button>
    <md-button class="md-raised md-primary" ng-click="listCtrl.clear()">Clear</md-button>
    <!--<md-button class="md-warn md-raised md-hue-2" ng-click="listCtrl.clearList()">Clear List</md-button>-->
    <md-button layout-align="left" ng-click="listCtrl.undo()">UNDO</md-button>






</div>

</body>
</html>