
body {
    width: 315px;
    margin: auto;

}

.title {
    color: rgb(57,73,171);
}

.loading {
    color: lightgrey;
}

h1, p {
    text-align: center;
}

ol {
    padding: 0;
}


div.item {
    border-left: 2px solid cornflowerblue;
}

div.buttons {
    text-align: center;
}

p img {
    border-radius: 100px;
}

p h1{
    font-size: 20%;

}

h1 {
    font-family: Calibri;
    font-size: 35px;
}

p.links {
    text-align: left;
}

p a {
    text-decoration: none;
    color: rgb(57,73,171);
}

p a:link {
    color: rgb(57,73,171);
}

p a:hover {
    rgb(255,64,129);
    font-weight: bolder;
}

p a:visited {
    rgba(0,0,0,0.54);
}

p a:active {
    rgb(255,64,129);
}

p img.social {
    border-radius: 15px;
    vertical-align: middle;
    width: 50px;
    padding: 10px;
}
