
body {
    width: 315px;
    margin: auto;

}

.title {
    color: cornflowerblue;
}

.loading {
    color: lightgrey;
}

h1, p {
    text-align: center;
}

ol {
    padding: 0;
}


div.item {
    border-left: 2px solid cornflowerblue;
}

div.buttons {
    text-align: center;
}

p img {
    border-radius: 100px;
}

p h1{
    font-size: 20%;

}

div.md-list-item-text h4 {
    margin-top: 10px;
    margin-bottom: 0;
}

div.md-list-item-text h5 {
    margin: 0;
}