
body {
    width: 315px;
    margin: auto;

}

.title {
    color: cornflowerblue;
}

.loading {
    color: lightgrey;
}

h1, p {
    text-align: center;
}

ol {
    padding: 0;
}


div.item {
    border-left: 2px solid cornflowerblue;
}

div.buttons {
    text-align: center;
}